<ul id="menu">
@*    <li>@Html.ActionLink("Home", "Index", "Home")</li>*@
    <li>@Html.ActionLink("Diagramas", "Index", "Diagrams")</li>
   @* <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
</ul>
